<div id="login-page">
  <div class="center-outter">
    <div class="center-inner col-xs-10 col-md-3 page">
      <%= render 'form', submit_text: 'Register' %>
      <%= link_to 'Existing user? Log in', [:new, :user_session], class: 'btn btn-link btn-block' %>
    </div>
  </div>
</div>