<div id="login-page">
  <div class="center-outter">
    <div class="center-inner col-xs-10 col-md-3 page">
      <%= render 'form' %>
      <%= link_to 'New user? Register', [:new, :profile], class: 'btn btn-link btn-block' %>
    </div>
  </div>
</div>