<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th>Blocked</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="users">
    <%= render collection %>
  </tbody>
</table>