<div class="pp-list">
  <%= render collection: resource.categories, partial: 'categories/category', locals: { edit_button: :hide } %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.pp-list').PrettyPlacement();
    });
  <% end %>
<% end %>
