<div class="pp-list">
  <%= render collection: resource.categories, partial: 'categories/category', locals: { edit_button: :hide } %>
</div>

<div class="see-all-products-button-wrapper">
  <%= link_to 'See all Products', :products, class: 'btn btn-lg btn-primary btn-block' %>
</div>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      $('.pp-list').PrettyPlacement();
    });
  <% end %>
<% end %>
