<div class="category-list-item">
  <%= image_tag image %>

  <div class="category-list-item__name"><%= name %></div>

  <div class="category-list-item__edit-button-wrapper">
    <%= link_to 'edit', '#', class: 'btn btn-success btn-sm category-list-item__edit-button' %>
  </div>
</div>
