@import "bootstrap/functions";
@import "bootstrap/variables";

.category-list-item {
  position: relative;
  float: left;
  transition: all .5s ease-out 0s;
}

.category-list-item:hover {
  transform: scale(1.025);
}

.category-list-item__name {
  color: theme-color("light");
  background: theme-color("info");
  float: left;
  padding: 5px 20px;
  font-size: 1.6rem;
  position: absolute;
  bottom: 15px;
  left: 0px;
}

.category-list-item__edit-button-wrapper {
  position: absolute;
  top: 20px;
  right: 15px;
}

.category-list-item__edit-button {
  visibility: hidden;
}

.category-list-item:hover .btn {
  visibility: visible;
}
