.product-list-item {
  box-shadow: 0 0 2px 1px #eee;
}

.product-list-item__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;

  padding: 10px;

  background: white;

  transition: all .4s ease-out 0s;
}

.product-list-item__price {
  font-size: 2.1rem;
  color: #555;
}

.product-list-item__add-to-cart-button {
}

.product-list-item__name {
  color: #555;
}

.product-list-item:hover .product-list-item__footer {
  background: yellow;
}

.product-list-item:hover .product-list-item__price {
  color: black;
}

.product-list-item:hover .product-list-item__name {
  color: black;
}
