<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate collection %>
</div>

<div class="text-center">
  <%= page_entries_info collection %>
</div>

<div>
  <%= link_to 'New product', [:new, :product], class: 'btn btn-primary btn-block' if policy(Product).new? %>
</div>