<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th></th>
      <%= content_tag :th if policy(Product).destroy? %>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
  <tr>
    <td><%= paginate collection %></td>
    <td><%= page_entries_info collection %></td>
  </tr>
</table>