<%= breadcrumbs do %>
  <li class="breadcrumb-item active"><%= parent.name %></li>

  <li class="breadcrumb-item active">Products</li>
<% end %>

<div class="pp-list">
  <%= render collection %>
</div>

<%= paginate collection %>
