<%= image_tag resource.image.url, class: 'img-responsive' %>

<p>Name: <%= resource.name %></p>

<p>Price: <%= resource.price %></p>

<p>Categories:</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <%= render resource.categories %>
  </tbody>
</table>
