<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>

  <%= wicked_pdf_stylesheet_link_tag 'application' %>

  <%= wicked_pdf_stylesheet_link_tag  'pdf-table' %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
