<!DOCTYPE html>
<html>
  <head>
    <title>UI-Widgets Collection</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag :application, media: :all %>
  </head>

  <body class="bg-light">
    <%= yield %>

    <%= javascript_include_tag :application %>
  </body>
</html>
